@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto</h1>
    <p>Bienvenidos a la VIDEOTECA ACY</p>
    <div class="justify-content-center">
        <h2>Jesús Aguero Hidalgo - B70091</h2>
        <h2>María Celeste Montoya Bonilla - C14999</h2>
        <h2>Alex Ureña Jiménez - C18003</h2>
    </div>
</div>
