@model Videoteca.Models.AspNetUser

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/ProfileResponsive.css" />
    <link href="https://file.myfontastic.com/keVpAvi8SaSZiH6aNpqDJ6/icons.css" rel="stylesheet">
</head>

<div class="container">
    <div class="form-container">
        <h4>My profile</h4>
        <hr />

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="profile-picture-container">
                <label for="photo">Profile Picture</label>
                <input type="file" id="photo" name="photo" accept="image/*" class="form-control-file" onchange="previewProfilePicture(event)" />

                <div class="profile-picture">
                    @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                    {
                        <img id="profile-picture" src="@Url.Action("GetProfilePicture", "Users", new { id = Model.ProfilePicture })" alt="Profile Picture" />
                    }
                    else
                    {
                        <span id="nop">No profile picture selected</span>
                    }
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="save" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div>
           <a id="back" href="/User/Index" class="btn btn-primary icon-home">Back to home</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="/js/site.js"></script>
    }
}