* {
    box-sizing: border-box;
}
:root {
    --body-color1: #004ca0;
    --body-color2: #ebeebd;
    --color-letter: #ffffff;
    --text-color: #ddd;
    --type-letter: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav1 {
    height: 65px;
    width: 100%;
    background-color: var(--body-color1);
    position: relative;
    color:white;
}

    .nav1 > .nav-header {
        display: inline;
    }

        .nav1 > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            margin-bottom: 20px;
            margin-top: -0.5%;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 10px 10px 10px;
        }

    .nav1 > .nav-btn {
        display: none;
    }

    .nav1 > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav1 > .nav-links > ul li a {
            display: block;
            padding: 0 8px;
            color: white;
            line-height: 40px;
            font-size: 18px;
            text-decoration: none;
        }

        .nav1 > .nav-links > ul {
            color: white;
            padding: 0;
            margin-top: 5px;
            list-style: none;
            position: relative;
        }

            .nav1 > .nav-links > ul li {
                display: inline-block;
                background-color: var(--body-color1);
                font-family: var(--type-letter);
            }

                .nav1 > .nav-links > ul li:hover {
                    background-color: var(--body-color2);
                    border-radius: 5px;
                }
                .nav1 > .nav-links > ul li a:hover {
                    color: black;
                }

    .nav1 > #nav-check {
        display: none;
    }

    .nav1 .nav-links ul a.icon {
        margin-left: 80px;
        margin-right: 10px;
    }

    .nav1 .nav-links ul a i {
        background-color: white;
        border-radius: 50px;
        padding: 7px;
        margin-top: 10px;
        margin-left: 5px;
    }

#logoH {
    float: left;
    border-radius: 50%;
    border: 1px #162B4E;
    height: 55px;
    width: 70px;
    margin-bottom: 200px;
    border: 2px solid #333;
}
#icon-s{
    color:white;
}
#icon-s :hover{
    color:black ;
}


@media (max-width:750px) {
    .nav1 > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav1 > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
            margin-top: 10px;
        }

            .nav1 > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav1 > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #333;
                color:white;
            }

    .nav1 > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #162B4E;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }

        .nav1 > .nav-links > ul li a {
            display: block;
            width: 100%;
        }

        .nav1 > .nav-links > ul li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            background-color: var(--body-color1);
        }

            .nav > .nav-links > ul li a {
                margin-left: 40%;
            }


    .nav1 > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav1 > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        position:absolute;
        overflow-y: auto;
    }
}
