:root{
    --body-color: #121d3b;
    --color-letter:  #ffffff;
}




@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .movie_img {
        width: 100px;
        height: 150px;
    }
    .movie2 {
        width: 100px;
        border-radius: 15px;
        margin-right: 25px;
    }
}

.movie_img {
    width: 250px;
    height: 400px
}

.carrousel {
    align-items: center;
    align-content:  center;
}

.movie2 {
    width: 300px;
    border-radius: 15px;
    margin-right: 25px;
}

.actor {
    width: 175px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    padding-block: 20px;
    margin-top: auto;
    align-items: center;
}
.contenedor{
    margin-top: 20px;
    display: flex;
}

table {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 40px;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
h1, h2, h3 {
    color: var(--color-letter);
}

h1 {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}
h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
}

p {
    font-family: 'Helvetica', sans-serif;
    color: #333333;
    font-size: 16px;
}
li {
    font-family: 'Helvetica', sans-serif;
    color: #ddd;
    font-size: 20px;
}
textarea{
    align-content: center;
    text-align: justify;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

[data-tab-content]{
    display:none;
}

.active[data-tab-contet]{
    display: block;
}

.tab:hover {
     background-color: black;
 }

.tab.active {
        background-color: #cccccc;
    }

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}

.windows {
    width: 100%;
    margin: auto;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    background-color: var(--body-color);
    text-align: justify;
    padding: 0;
    margin: 0;
}
