:root {
    --body-color: #162B4E;
    --color-letter: #ffffff;
    --text-color: #ddd;
    --type-letter: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movie_img {
    width: 220px;
    height: 310px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.searching{
    margin-top: 10%;
    align-content: center;
    margin-bottom: 20%;
}
form{
    align-self:center;
}

#selected {
    height: 30px;
    width: 200px;
    font-family: var(--type-letter);
    font-size: 14px;
    background-color: #fefefe;
}
.carrousel {
    align-items: center;
    border-top: 1px solid white;
}
#genreP{
    display:flex;
    padding-right: 10px;
    border: 0px hidden;
    flex-direction:row;
}
#gen{
    margin-left: 5px;
}
.search {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-family: var(--type-letter);
    font-size: 14px;
    color: black;
    background-color: #dbdbdb
}

#searchM{
    display:flex;
    flex-direction: column;
    align-content: center;
}

.movie2 {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    margin-right: 25px;
}

.actor {
    width: 175px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    padding-block: 20px;
    margin-top: auto;
    align-items: center;
}

.contenedor {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
}
.searchT{
    margin-top:15%;
    height:500px;
    align-self:center;
}

#CreateS{
    margin-left: 20px;
    float: left;
}
#CreateM{
    margin-left: 20px;
    float: right;
}
.contenedor3{
    margin-bottom: 30px;
    margin-top: 20px;
}

.contenedor4 {
    display:flex;
    margin-bottom: 30px;
    margin-top: 20px;
}
    .contenedor4 .itemContenedor {
        margin-left: 20px;
    }
    .contenedor4 #viewM {
        margin-left: 20px;
    }

    .Containt_Genre_Data {
        margin-left: 50px;
    }

table {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
    color: black;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}

th, td {
    padding: 5px;
    border: 1px solid #1f1f1f;
}

#rate-prom {
    font-family: 'Helvetica', sans-serif;
    color: black;
    font-size: 16px;
}

tr:nth-child(2n) {
    background-color: #ddd;
}

tr:nth-child(2n+1) {
    background-color: #dbf4ff;
}

label {
    color: var(--color-letter);
    font-family: var(--type-letter);
    text-align: left;
    font-size: 24px;
}

h1, h2, h3 {
    color: var(--color-letter);
    font-family: var(--type-letter);
}

h1 {
    text-align: left;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

#Image {
    height: 150px;
    width: 150px;
}

p {
    font-family: 'Helvetica', sans-serif;
    color: var( --text-color);
    font-size: 16px;
}

li {
    font-family: 'Helvetica', sans-serif;
    color: var( --text-color);
    font-size: 20px;
}

textarea {
    align-content: center;
    text-align: justify;
}


.windows {
    width: 100%;
    margin: auto;
}

#star1 {
    color: #eb9d11;
    font-size:14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#getC {
    margin-top: 20px;
    justify-content: center;
}

.modal-content {
    background-color: var(--body-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30%;
}

.modal-content1 {
    background-color: var(--body-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 35%;
}

#openModal1 {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.container-comments {
    margin-top: 20px;
}

.comments {
    display: flex;
}

.photo-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

    .photo-perfil img {
        width: 100%;
        height: 100%;
    }

.info-comments {
    margin-left: 20px;
    background-color: aliceblue;
    width: 100%;
    border-radius: 5px;
}

    .info-comments .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #1953bd;
        color: white;
    }

    .info-comments h5 {
        font-size: 17px;
    }

    .info-comments p {
        padding: 20px;
        color: black;
    }

.container1 {
    position: relative;
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .container1 .rate-post {
        display: none;
    }

.container2 .comment-post {
    display: none;
}


.text {
    font-size: 20px;
    color: var(--color-letter);
    font-weight: 500;
}

.edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 13px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

input:checked ~ .form {
    display: block;
}

.container1 .star-widget input {
    display: none;
}
.itemContenedor {
    margin:20px;

}

.star-widget label {
    font-size: 20px;
    color: #444;
    padding: 5px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.form header {
    width: 100%;
    font-size: 20px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

#rate-1:checked ~ .form header:before {
    content: "I just hate it";
}

#rate-2:checked ~ .form header:before {
    content: "I don't like it";
}

#rate-3:checked ~ .form header:before {
    content: "It is awesome";
}

#rate-4:checked ~ .form header:before {
    content: "I just like it";
}

#rate-5:checked ~ .form header:before {
    content: "I just love it";
}


button {
    border-radius: 5px;
}

a#compartir {
    display: inline-block;
    background-color: #3b5998;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    max-height: 80px;
    max-width: 150px;
    border-radius: 150px;
}

.btn-rate {
    height: 45px;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #444;
    outline: none;
    color: black;
    background: #dbf4ff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

#cardM {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    height: 80%;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    background: #dbf4ff;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    padding: 10px;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    background-color: var(--body-color);
    text-align: justify;
    padding: 0;
    margin: 0;
}

.title{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
img.iconFa {
    max-width: 50px;
    max-height: 50PX;
    width: 50px;
    height: 50px;
    text-align: center;
}

#movieA {
    align-self: center;
    width: 80%;
    height: 500px;
    opacity: 0.8;
}

.textA {
    width: 500px;
    position: absolute;
    top: 15%;
}
.textoE{
    text-align:center;
    justify-content:center;
    color:white;
    font-size: 15px;
}
.textoE h4 {
    font-size: 15px;
}
    .textoE p {
        width:100px;
        text-align:justify;
    }
#imgE {
    border:solid #5464e9 ;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}