.container {
    background-color: beige;
    margin-bottom: 60px;
}

.image {
    height: 50px;
    width: 50px;
}



.contenedor_buttoms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}