@model Videoteca.Models.DTO.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <form asp-action="Login" method="post">
        <div class="container">
            <img id="logo" src="~/lib/videoteca.jpg" class="justify-content-center">
            <label asp-for="UserName">Username</label>
            <input type="text" asp-for="UserName" />
            <div class="msg">
                <span class="err" asp-validation-for="UserName"></span>
            </div>

            <label asp-for="Password">Password</label>

            <input type="password" asp-for="Password" />
            <div class="msg">
                <span class="err" asp-validation-for="Password"></span>
            </div>

            @if (TempData["msg"] != null)
            {
                <div class="msg">
                    <span class="err">@TempData["msg"]</span>
                </div>
            }

            <button type="submit">Login</button>
            <a href="/UserAuthentication/Registration">Not a User? Click Here to Sign Up</a>

        </img>
    </form>
</body>
</html>

