@model Videoteca.Models.MoviesAndSeries

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Edit_MovieAndSerie</title>
</head>
<body>

<h4>MoviesAndSeries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_MovieAndSerie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="synopsis" class="control-label"></label>
                <input asp-for="synopsis" class="form-control" />
                <span asp-validation-for="synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="release_year" class="control-label"></label>
                <input asp-for="release_year" class="form-control" />
                <span asp-validation-for="release_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label"></label>
                <input asp-for="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="classification" class="control-label"></label>
                <input asp-for="classification" class="form-control" />
                <span asp-validation-for="classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_seasons" class="control-label"></label>
                <input asp-for="num_seasons" class="form-control" />
                <span asp-validation-for="num_seasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_episodes" class="control-label"></label>
                <input asp-for="num_episodes" class="form-control" />
                <span asp-validation-for="num_episodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="episode_duration" class="control-label"></label>
                <input asp-for="episode_duration" class="form-control" />
                <span asp-validation-for="episode_duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie_url" class="control-label"></label>
                <input asp-for="movie_url" class="form-control" />
                <span asp-validation-for="movie_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_added" class="control-label"></label>
                <input asp-for="date_added" class="form-control" />
                <span asp-validation-for="date_added" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
